.employeeDashboardEvents {
  padding: 3rem;
  background-color: #8616e8;
  height: calc(100vh - 6.56rem);
  overflow-y: scroll;
  &-addBtn {
    margin: 1rem 0;
    padding: 0.2rem 3rem;
    background-color: rgb(73, 199, 14);
    p {
      display: inline-block;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      font-size: 1.8rem;
      background-color: rgb(244, 8, 47);
      color: white;
      cursor: pointer;
      i {
        margin-right: 0.5rem;
      }
    }
  }
  &Div {
    &-item {
      min-height: 40rem;
      width: 35rem;
      background-color: white;
      border-radius: 0.3rem;
      margin: 1.5rem;
      padding: 2rem;
      &-header {
        background-color: #27f215;
        color: white;
        padding: 1rem;
        font-size: 2.2rem;
        line-height: 1.1;
        font-weight: 500;
      }
      &-date {
        margin: 1rem 0;
        padding: 1rem;
        font-size: 2rem;
        color: white;
        font-weight: 600;
        background-color: steelblue;
      }
      &-info {
        font-size: 1.6rem;
        color: gray;
      }
      &-status {
        text-align: center;
        margin: 1rem 0;
        padding: 1rem;
        font-size: 2rem;
        color: white;
        font-weight: 600;
        background-color: green;
        &.not {
          background-color: red;
        }
      }
      &-reg {
        text-align: center;
        font-size: 1.5rem;
        text-decoration: underline;
        font-weight: 600;
      }
    }
    ::-webkit-scrollbar {
      width: 0.2rem;
    }
  }
}
