.parentDashboardHome {
  padding: 3rem;
  height: calc(100vh - 6.56rem);
  background-color: #8616e8;
  overflow-y: scroll;
  &-table {
    &-header,
    &-child {
      & > div {
        flex: 1;
        padding: 1rem;
        margin: 0 0.5rem;
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
      }
      & > div:first-child,
      & > div:nth-child(3),
      & > div:nth-child(4),
      & > div:nth-child(5),
      & > div:nth-child(6) {
        flex: 0.7;
      }

      & > div:last-child {
        flex: 0.5 !important;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    &-header {
      color: rgb(245, 240, 240);
      opacity: 0.75;
    }
    &-child {
      margin: 1rem 0;
      font-weight: 500;
      color: rgb(24, 235, 235);
      background-color: white;
      border-radius: 0.5rem;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
        rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
  }
}
