@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import "./mixins.scss";

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  &.noscroll {
    overflow: hidden;
  }
  ::-webkit-scrollbar {
    width: 0.7rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(202, 190, 190);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}

.container {
  max-width: 137.6rem;
  margin: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  &-aic {
    align-items: center;
  }
  &-jcc {
    justify-content: center;
  }
  &-jcsb {
    justify-content: space-between;
  }
  &-jcsa {
    justify-content: space-around;
  }
  &-jcfe {
    justify-content: flex-end;
  }
  &-fdc {
    flex-direction: column;
  }
}

// visibility
.hide-for-mobile {
  @include breakpoint-down(large) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(xlarge) {
    display: none;
  }
}
